<div class="w-full flex flex-col items-center">
  <div class="flex justify-between w-full items-center">  
    <div class="flex flex-col gap-4">
      <h1 class="text-5xl"> Your cart </h1>
      <% if @current_cart&.cart_items&.any? %>
        <p class="text-lg"> You have <%= @current_cart.cart_items.count %> items in your cart </p>
      <% else %>
        <p class="text-lg"> You do not have any items in your cart yet </p>
      <% end %>
    </div>
    
    <% if @current_cart&.cart_items&.any? %>
      <%= link_to "Checkout Now", checkout_cart_path, class: "rounded-lg font-semibold p-4 text-center text-xl bg-yellow-400 hover:bg-yellow-500"%>
    <% else %>
      <%= content_tag :div, "Checkout Now", class: "rounded-lg font-semibold p-4 text-center text-xl bg-yellow-400 brightness-75"%> 
    <% end %>   
  </div>

  <br/>
  
  <div id="products" class="min-w-full grid md:grid-cols-4 gap-8 mb-8">
  <% if @current_cart&.cart_items&.any? %>
    <% @current_cart.products.each do |product| %>
      <div>
        <%= render "products/product", product: product %>
        <br/>
        <%= link_to "Remove from cart", cart_path(product_id: product.id), class: "p-2 rounded-lg bg-indigo-500 text-indigo-100",
            data: { turbo_method: "delete" } %>
      </div>
    <% end %>
  <% end %>
  </div>
  <br/>
  <%= link_to "Sign in to save your cart", new_user_session_path, class: "text-lg text-indigo-600 font-semibold border-b-2 border-gray-200" if !current_user %>
</div>