<div class="mx-auto md:w-2/3 w-full flex">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

  <div class="grid md:grid-cols-2">
    <div class="max-w-md w-full mx-auto"> 
      <% if @product.images.any? %>
        <%= image_tag @product.images.first, class: "w-50 h-96 object-cover" %>
        <div class="grid grid-cols-3 gap-4 mt-4"> 
          <% @product.images[1..].each do |image| %>
            <%= image_tag image, class: "w-2 h-3 object-cover" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="max-w-xl flex flex-col gap-4"> 
      <h1 class="text-5xl font-broken text-indigo-900"> <%= @product.title %> </h1><br>
      <div class="text-gray-700"> 
        <%= @product.description %>
      </div>
      <span class="bg-green-500 p-2 rounded-lg text-green-50 mr-auto"> <%= number_to_currency @product.price %> </span>
    </div>
  </div>

  <% if current_admin %>
    <%= link_to "Edit this product", edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to products", products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this product", @product, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  <% end %>
 </div>
