<div class="h-16 w-full fixed top-0 bg-gray-900 z-50"> 
  <div class="max-w-8xl h-full w-full mx-auto flex items-center justify-between px-20">
    <%= link_to root_path, class: "flex items-end gap-4" do %>
      <%= image_tag("online-shop.png", class: "w-10 object-cover") %>
      <span class="text-2xl text-gray-100"> E-Commerce Rails </span>
    <% end %>
      
    <div class=" flex items-end gap-4">
      <div>
        <% if current_user %>
          <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "text-indigo-100" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "flex bg-gray-500 text-gray-100 rounded lg p-2" %>
          <%= link_to "Sign in", new_user_registration_path, class:"text-gray-100 text-lg" %>
        <% end %>
      </div>
    </div>
    <%= link_to cart_path do %>
      <%= render "layouts/cart", cart: @current_cart  %>
    <% end %>
  </div>
</div>